<script src="https://kit.fontawesome.com/4177269e28.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
<div class="container container-404 ">
    <div class="child">
        <h1>4 <i class="fas fa-ghost animated jackInTheBox delay-12s"></i> 4</h1>
        <h2>File not found</h2>
    </div>


</div>


<style>
    @import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Nova+Slim&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');

    body {
        background: #9D50BB;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #6E48AA, #9D50BB);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #6E48AA, #9D50BB);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        color: #9D50BB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }


    h1 {
        font-size: 111px;
        text-align: center;
        font-family: 'Nova Slim', cursive;
    }

    h2 {
        font-size: 44px;
        text-align: center;
        font-family: 'Cinzel Decorative', cursive;
    }

    .container {
        padding: 30px;
        background: #F7F7F7;
        border-radius: 10px;
        -webkit-box-shadow: 20px 25px 26px -12px rgba(110, 72, 170, 1);
        -moz-box-shadow: 20px 25px 26px -12px rgba(110, 72, 170, 1);
        box-shadow: 20px 25px 26px -12px rgba(110, 72, 170, 1);
    }
</style>